<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('include/_head') %>
        <title>Notes App</title>
    </head>

    <body>


        <!-- Header -->
        <%- include('include/_header') %>
        <!-- /Header -->

        <!-- Add New Note -->
        <%- include('include/_update_form') %>
        <!-- /Add New Note -->

        <!-- Footer -->
        <%- include('include/_footer') %>
        <!-- /Footer -->

        <!-- Scripts -->
        <%- include('include/_scripts') %>
        <!-- /Scripts -->

    </body>

</html>